* {
    box-sizing: border-box;
}

body {
    background: beige;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.letters {

text-align:center;
}
.letter {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 25px;
    color: red;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    display: inline-block;
}
button.button,
input[type=button].button {
    display: block;
    background: #f28282
} 
.lives {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: blue;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
.letter-box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    align-items: center;
    font-size: 25px;
    margin: 10px 20px;
}
.space-btw-letter {
    border: 0;
}
.sentence {
    display: flex;
}
